html,
body {
		height: max-content;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
}

.video-overlay {
    height: 100vh;
}

.wrapper {
    margin: 0px auto;
    max-width: 1170px;
}

.video {
    width: 100%;
    height: 100%;
}

.container-img {
    background: url('../img/trees-nature.jpg');
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 100%;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

.inner-content {
    color: #fff;
    margin-top: 200px;
    margin-left: 140px;
    position: absolute;
}

.intro-title {
    font-size: 65px;
    width: 300px;
    line-height: 65px;
    font-family: 'HelveticaNeueCyr';
    font-weight: bold;
}

.intro-subtitle {
    font-size: 18px;
    color: rgb(231, 231, 231);
    margin-top: 22px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 300;
}

/* timeline */
.timeline-right {
    display: flex;
    top: 33%;
    right: 140px;
    position: absolute;
    color: #6A7071;
}

li.number-timeline {
    list-style: none;
    font-size: 16px;
    color: #dadada;
    margin-bottom: 20px;
}


li.number-timeline-active {
    list-style: none;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

li.number-timeline-active::before {
    content: "";
    width: 22px;
    float: left;
    height: 2px;
    margin: 12px;
    background-color: #fff;
}


.number-timeline:hover::before {
    content: "";
    width: 22px;
    float: left;
    height: 2px;
    margin: 9px;
    background-color: #fff;
}

/* btn */
.btn-intro {
    margin-top: 35px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
}

.btn-intro:hover {
    background-color: #fff;
    color: #000;
}

/* arrow-down */
.arrow-down {
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 12px;
}

.arrow-down__blink-1 {
    opacity: .3;
    -webkit-animation: blink1 1.18s ease-in-out 0.8s infinite;
    animation: blink1 1.18s ease-in-out 0.8s infinite;
}

@keyframes blink1 {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.wrapper-paragraph {
    display: flex;
    flex-direction: column;
}

.wrapper-forest {
    display: flex;
    align-items: center;
}

.header-main {
    font-size: 30px;
    color: #303C26;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    margin-bottom: 60px;
}

#betony::first-letter {
    font-size: 72px;
    padding-right: 12px;
    color: #303C26;
    float: left;
    line-height: 72px;
}

#betony-paragraph {
    clear: right;
}

.forest-content {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forest-content:nth-child(2) {
    padding: 0px;
}

.forest-paragraph:nth-child(4) {
    margin-bottom: 31px;
}

.forest-img-right {
    display: flex;
    width: 50%;
    right: 0;
    padding-left: 30px;
}

.forest-img-left {
    display: flex;
    width: 40%;
}

.forest-paragraphs-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.forest-paragraphs-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.forest-paragraph {
    font-size: 17px;
    margin: 15px 0px;
    max-width: 480px;
    line-height: 24px;
    font-family: 'Garamond Premier Pro';
}

.damage {
	 display: flex;
	 padding-top: 160px;
}

.damage-full-img {
    background: url('../img/damage.png') no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
		min-height: 939px;
}

.damage-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.damage-info {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	max-width: 607px;
	min-height: 792px;
	background-color: rgba(0, 0, 0, 0.6);
}

.damage-wrapper {
	padding: 62px;
	padding-bottom: 0;
}

.damage-title {
	font-size: 36px;
	line-height: 44px;
	color: #fff;
	font-family: 'HelveticaNeueCyr';
}

.damage-line {
	margin: 40px 0 40px;
	content: "";
	width: 85px;
	height: 3px;
	background-color: #e4e5e3;
	position: relative;
}

.damage-text {
	font-family: 'Garamond Premier Pro';
	font-size: 19px;
	color: #fff;
	padding-bottom: 40px;
	line-height: 1.4;
}

.damage-numbers {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	max-width: 460px;
	max-height: 500px;
	padding: 40px;
}

.number-important {
		color: #fff;
		font-size: 120px;
		font-family: 'Museo Sans 300 Light';
}

.damage-block {
	margin: 0 auto;
	text-align: center;
} 

.damage-subtitle {
	font-size: 30px;
	text-align: center;
	color: #fff;
	font-family: 'Garamond Premier Pro';
}

.damage-arrow-down>a {
	display: block;
	padding: 8px;
	width: 2px;
	height: 2px;
	margin: 0 auto;
	font-size: 0;
	margin-top: 30px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(135deg);
}

.solve-problems {
	display: flex;
	padding-top: 160px;
}

.headline {
	display: flex;
	justify-content: space-between;
}

.headline-img {
	max-width: 20%;
	padding: 20px;
}

.headline-disk {
	display: flex;
	flex-direction: column;
}

.headline-title {
	display: flex;
	font-size: 32px;
	font-family: 'HelveticaNeueCyr';
	font-weight: 400;
	color: #303c26;
}

.headline-subtitle {
	font-size: 19px;
	line-height: 1.4;
	padding-top: 100px;
	max-width: 450px;
	font-family: 'Garamond Premier Pro';
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 120px;
}

.feature-card {
	display: flex;
	flex-basis: 30%;
	padding-bottom: 120px;
	text-align: center;
	flex-direction: column;
	align-items: center;
}

.features-card-desc {
	font-size: 18px;
	max-width: 350px;
	line-height: 1.4;
	font-family: 'Garamond Premier Pro';
	color: #0e1817;
	padding-top: 30px;
}

.features-card-img {
	max-width: 60px;
}

@media (max-width: 1280px) {
	.forest-img-left {
		display: flex;
		width: 43%;
		padding-right: 30px;
	}

	.forest-paragraphs-left {
		margin-left: 50px;
	}

	.header-main {
		margin-left: 50px;
	}
}

@media (max-width: 1050px) {
	.timeline-right {
		display: none;
	}
}

@media (max-width: 880px) {
	.inner-content {
		margin-top: 200px;
		margin-left: 80px;
	}

	.feature-card {
    flex-basis: 200px;
}

	.forest-img-left {
		width: 70%;
		display: flex;
		justify-content: center;
		padding: 0px;
		order: 3;
	}

	.intro-title {
		font-size: 66px;
		line-height: 70px;
	}

	.intro-subtitle {
		font-size: 21px;
	}

	.inner-content {
		margin-top: 335px;
		margin-left: 120px;
	}

	.header-main {
		font-size: 26px;
		line-height: 30px;
	}

	.header-main {
		margin: 40px 20px 0px 20px;
		text-align: center;
		padding: 0px;
	}

	.forest-img-right {
		display: flex;
		width: 100%;
		order: 1;
		padding: 0px;
	}

	.forest-content {
		padding: 22px 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.forest-paragraphs-left {
		margin: 20px 20px;
		order: 0;
	}

	.forest-paragraphs-right {
		margin: 25px 20px;
		order: 2;
	}

	.arrow-down {
		left: 42%;
	}

	.inner-content {
		margin-top: 200px;
		margin-left: 40px;
	}

	.intro-subtitle {
		font-size: 18px;
	}
}

@media (min-width: 425px) and (max-width: 768px) {
	.inner-content {
		margin-top: 200px;
		margin-left: 30px;
	}

	.intro-title {
		font-size: 46px;
		line-height: 1.2;
	}
}

@media (min-width: 375px) and (max-width: 425px) {
	.intro-title {
		font-size: 43px;
		line-height: 1.2;
	}

	.inner-content {
		margin-top: 200px;
		margin-left: 25px;
	}
}

@media (min-width: 320px) and (max-width: 375px) {
	.intro-title {
		font-size: 37px;
		line-height: 1.2;
	}

	.damage-wrapper {
		padding: 32px;
	}

	.intro-subtitle {
		font-size: 16px;
	}

	.inner-content {
		margin-top: 200px;
		margin-left: 20px;
	}
}

@media (max-width: 426px) {
	.forest-img-left {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 0px;
		order: 3;
	}

	.damage-wrapper {
		padding: 50px;
	}
}

@media (max-width: 768px) {
	.damage-content {
		flex-direction: column;
	}

	.number-important {
		font-size: 85px;
	}

	.damage-subtitle {
		font-size: 25px;
	}
}