html,
body {
		height: max-content;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		font-size: 18px;
		color: #0e1817;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

.elimore_hide {
	padding: 8px;
	width: 2px;
	height: 2px;
	margin: 30px auto 0px;
	font-size: 0px;
	border-top: 2px solid rgb(255, 255, 255);
	border-right: 2px solid rgb(255, 255, 255);
	transform: rotate(-45deg);
	display: none;
}

img {
    display: block;
    max-width: 100%;
    border: 0;
}

.video-overlay {
		height: 100vh;
}

.wrapper {
    margin: 0px auto;
    max-width: 1170px;
}

.main-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.video {
    width: 100%;
    height: 100%;
}

.content {
	display: flex;
	width: 1170px;
	padding: 0 50px;
	justify-content: space-between;
	align-items: center;
}

.container-img {
    background: url('../img/trees-nature.jpg');
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 100%;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
}

.inner-content {
    color: #fff;
}

.intro-title {
    font-size: 65px;
    width: 300px;
    line-height: 65px;
		font-family: 'HelveticaNeueCyr';
		font-weight: bold;
}

.intro-subtitle {
    color: rgb(231, 231, 231);
    margin-top: 22px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 300;
}

/* timeline */
.timeline-right {
    display: flex;
    color: #6A7071;
}

.number-timeline {
    list-style: none;
    font-size: 16px;
    color: #dadada;
    margin-bottom: 20px;
}


.number-timeline-active {
    list-style: none;
    color: #fff;
    margin-bottom: 20px;
}

.number-timeline-active::before {
    content: "";
    width: 22px;
    float: left;
    height: 2px;
    margin: 12px;
    background-color: #fff;
}

.number-timeline:hover::before {
    content: "";
    width: 22px;
    float: left;
    height: 2px;
    margin: 9px;
    background-color: #fff;
}

/* btn */
.btn-intro {
    margin-top: 35px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 12px;
    outline: none;
    cursor: pointer;
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
}

.btn-intro:hover {
    background-color: #fff;
    color: #000;
}

/* arrow-down */
.arrow-down {
    width: 30px;
    position: absolute;
    left: 50%;
    bottom: 12px;
}

.arrow-down__blink-1 {
    opacity: .3;
    -webkit-animation: blink1 1.18s ease-in-out 0.8s infinite;
    animation: blink1 1.18s ease-in-out 0.8s infinite;
}

@keyframes blink1 {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.wrapper-paragraph {
    display: flex;
    flex-direction: column;
}

.wrapper-forest {
    display: flex;
    align-items: center;
}

.header-main {
    font-size: 30px;
    color: #303C26;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    margin-bottom: 60px;
}

#betony::first-letter {
    font-size: 72px;
    padding-right: 12px;
    color: #303C26;
    float: left;
    line-height: 72px;
}

#betony-paragraph {
    clear: right;
}

.forest-content {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forest-content:nth-child(2) {
    padding: 0px;
}

.forest-paragraph:nth-child(4) {
    margin-bottom: 31px;
}

.forest-img-right {
    display: flex;
    width: 50%;
    right: 0;
    padding-left: 30px;
}

.forest-img-left {
    display: flex;
		width: 40%;
		object-fit: contain;
}

.forest-paragraphs-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.forest-paragraphs-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.forest-paragraph {
    margin: 15px 0px;
    max-width: 480px;
    line-height: 24px;
    font-family: 'Garamond Premier Pro';
}

.damage {
	 display: flex;
	 padding-top: 160px;
}

.damage-full-img {
    background: url('../img/jpg/damage.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
		min-height: 940px;
}

.damage-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.damage-info {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	max-width: 607px;
	min-height: 710px;
	background-color: rgba(0, 0, 0, 0.6);
}

.damage-wrapper {
	padding: 62px;
	padding-bottom: 0;
}

.damage-title {
	font-size: 36px;
	line-height: 44px;
	color: #fff;
	font-family: 'HelveticaNeueCyr';
}

.damage-line {
	margin: 40px 0 40px;
	content: "";
	width: 85px;
	height: 3px;
	background-color: #e4e5e3;
	position: relative;
}

.damage-text {
	font-family: 'Garamond Premier Pro';
	color: #fff;
	padding-bottom: 40px;
	line-height: 1.4;
}

.damage-numbers {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	max-width: 460px;
	max-height: 500px;
	padding: 40px;
}

.number-important {
		color: #fff;
		font-size: 120px;
		font-family: 'Museo Sans 300 Light';
}

.damage-block {
	margin: 0 auto;
	text-align: center;
} 

.damage-subtitle {
	font-size: 30px;
	text-align: center;
	color: #fff;
	font-family: 'Garamond Premier Pro';
}

.elimore_show {
	display: block;
	padding: 8px;
	width: 2px;
	height: 2px;
	margin: 0 auto;
	font-size: 0;
	margin-top: 30px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(135deg);
}

.elimore_hide {
	display: block;
	padding: 8px;
	width: 2px;
	height: 2px;
	margin: 0 auto;
	font-size: 0;
	margin-top: 30px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(-45deg);
}

.solve-problems {
	display: flex;
	padding-top: 160px;
}

.headline {
	display: flex;
	justify-content: space-around;
}

.headline-img {
	max-width: 22%;
	padding: 0px 20px;
}

.headline-disk {
	display: flex;
	flex-direction: column;
}

.headline-title {
	display: flex;
	font-size: 32px;
	font-family: 'HelveticaNeueCyr';
	font-weight: 400;
	color: #303c26;
}

.headline-subtitle {
	line-height: 1.4;
	padding-top: 80px;
	max-width: 450px;
	font-family: 'Garamond Premier Pro';
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 120px;
}

.feature-card {
	display: flex;
	flex-basis: 30%;
	padding-bottom: 120px;
	text-align: center;
	flex-direction: column;
	align-items: center;
}

.features-card-desc {
	max-width: 290px;
	line-height: 1.4;
	font-family: 'Garamond Premier Pro';
	padding-top: 30px;
}

.features-card-img {
	max-width: 60px;
}

/* Support */
.support-people {
	padding-top: 160px;
	padding-bottom: 160px;
}

.support {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: grab;
}

.wrapper-support {
	max-width: 860px;
	margin: 0px auto;
	padding: 0 20px;
}

.support-card{
	display: flex;
	flex-direction: column;
}

.support-img-1{
	width: 260px;
	height: 260px;
	margin-right: 100px;
	background-color: #fff;
	background-image: url(../img/jpg/pitt.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	background-size: 100%;
	border-radius: 50%;
}

.support-img-2{
	width: 260px;
	height: 260px;
	margin-right: 100px;
	background-color: #fff;
	background-image: url(../img/jpg/di\ caprio.jpeg);
	background-repeat: no-repeat;
	background-position: center 0px;
	background-size: 100%;
	border-radius: 50%;
}

.support-img-3 {
	width: 260px;
	height: 260px;
	margin-right: 100px;
	background-color: #fff;
	background-image: url(../img/jpg/edrian.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	background-size: 100%;
	border-radius: 50%;
}

.support-title {
	font-size: 30px;
	font-family: 'HelveticaNeueCyr';
	color: #303c26;
}

.support-header {
	font-size: 30px;
	color: #303C26;
	letter-spacing: 1px;
	line-height: 30px;
	font-family: 'HelveticaNeueCyr';
	font-weight: 400;
	margin-bottom: 90px;
}

.support-description{
	max-width: 450px;
	line-height: 1.4;
	font-family: 'Garamond Premier Pro';
}

.support-line {
	margin: 27px 0 27px;
	content: "";
	width: 56px;
	height: 3px;
	background-color:#6e7667;
	position: relative;
}

/* feedback */
.feedback-inner {
	display: flex;
}

.feedback-title {
	font-size: 30px;
	margin: 0 10px;
	color: #303C26;
	letter-spacing: 1px;
	line-height: 30px;
	text-align: center;
	font-family: 'HelveticaNeueCyr';
	font-weight: 400;
	margin-bottom: 90px;
}

.feedback-img {
	display: flex;
	width: 45%;
	object-fit: contain;
}

/* form */
.feedback-box-form {
	max-width: 420px;
	max-height: 290px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
	margin: 20px;
}

.feedback-box-form .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #303C26;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #303C26;
	outline: none;
	background: transparent;
}

.feedback-box-form .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #303C26;
	pointer-events: none;
	transition: .5s;
}

.input::-webkit-input-placeholder {
	opacity: 1;
	color: #949494;
	transition: opacity 0.3s ease;
}

.input::-moz-placeholder {
	opacity: 1;
	color: #949494;
	transition: opacity 0.3s ease;
}

.input:-moz-placeholder {
	opacity: 1;
	color: #949494;
	transition: opacity 0.3s ease;
}

.input:-ms-input-placeholder {
	opacity: 1;
	color: #949494;
	transition: opacity 0.3s ease;
}

.input:focus::-webkit-input-placeholder {
	opacity: 0;
	color: #949494;
	transition: opacity 0.3s ease;
}

.input:focus::-moz-placeholder {
	opacity: 0;
	color: #949494;
	transition: opacity 0.3s ease;
}

.input:focus:-moz-placeholder {
	opacity: 0;
	color: #949494;
	transition: opacity 0.3s ease;
}

.input:focus:-ms-input-placeholder {
	opacity: 0;
	color: #949494;
	transition: opacity 0.3s ease;
}

input#email {
margin-bottom: 28px;
}

.feedback-box-form form button {
	padding: 15px 35px;
	color: #ffffff;
	background: #78ac4e;
	font-size: 18px;
	text-decoration: none;
	transition: 0.3s;
	border: 0;
	cursor: pointer;
}

.feedback-box-form form button:hover,
.feedback-box-form form button:focus {
	padding: 15px 35px;
	color: #fff;
	background: #56852d;
	font-size: 18px;
	text-decoration: none;
	transition: 0.3s;
	outline: none;
}

.feedback-box-form button span {
	position: absolute;
	display: block;
}

.security {
	width: 100%;
	font-size: 14px;
	color: #949494;
	display: flex;
	align-items: center;
	margin-top: 25px;
}

.security:before {
	 content: "";
	 position: relative;
	 float: left;
	 width: 23px;
	 height: 23px;
	 margin-right: 8px;
	 background-image: url(/img/svg/lock.svg);
	 background-repeat: no-repeat;
	 background-position: center;
}

/* feedback-box-call */
.feedback-box-call {
	width: 420px;
	max-height: 200px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
	margin: 20px;
	margin-top: 20px;
}

.feedback-box-call:before {
	width: 420px;
	height: 200px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
	margin: 20px;
	margin-top: 20px;
}

.feedback-phone a,
.feedback-email a{
	color: #303C26;
	display: flex;
	align-items: center;
	font-size: 16px;
	margin: 16px;
}

.feedback-phone:hover a,
.feedback-email:hover a {
	color: #303C26;
	display: flex;
	align-items: center;
	font-size: 16px;
	text-decoration: underline;
}

.feedback-phone:before {
 content: "";
 position: relative;
 float: left;
	margin: 0 15px 0px 0px;
 width: 20px;
 height: 20px;
 background-image: url(/img/svg/call.svg);
 background-repeat: no-repeat;
}

.feedback-email:before {
	content: "";
	position: relative;
	float: left;
	margin: 0 15px 0px 0px;
	width: 20px;
	height: 20px;
	background-image: url(/img/svg/mail.svg);
	background-repeat: no-repeat;
}

.feedback-address:before {
	content: "";
	float: left;
	margin: 0 15px 0px 0px;
	width: 20px;
	height: 20px;
	font-size: 14px;
	font-weight: bold;
	background-position: center;
	background-image: url(/img/svg/pin.svg);
	background-repeat: no-repeat;
}

.feedback-text {
	font-size: 14px;
	margin-left: 35px;
	margin-top: 5px;
	line-height: 22px;
	max-width: 210px;
}


@media (max-width: 1280px) {
	.forest-img-left {
		display: flex;
		width: 43%;
		padding-right: 30px;
	}

	.forest-paragraphs-left {
		margin-left: 50px;
	}

	.header-main {
		margin-left: 50px;
	}
}

@media (max-width: 1023px) {
	.timeline-right {
		display: none;
	}
	.damage-content {
		flex-direction: column;
	}
}

@media (max-width: 880px) {
	.feature-card {
    flex-basis: 300px;
}
	.forest-img-left {
		width: 70%;
		display: flex;
		justify-content: center;
		padding: 0px;
		order: 3;
	}
	.intro-title {
		font-size: 66px;
		line-height: 70px;
	}
	.feedback-img {
		display: flex;
		width: 100%;
		object-fit: contain;
	}
	.feedback-box-form form button {
		padding: 15px 25px;
	}
	.feedback-title {
		margin-bottom: 40px;
	}
	.intro-subtitle {
		font-size: 21px;
	}
	.header-main {
		font-size: 26px;
		line-height: 30px;
	}
	.header-main {
		margin: 40px 20px 0px 20px;
		text-align: center;
		padding: 0px;
	}
	.forest-img-right {
		display: flex;
		width: 100%;
		order: 1;
		padding: 0px;
	}
	.forest-content {
		padding: 22px 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.forest-paragraphs-left {
		margin: 20px 20px;
		order: 0;
	}
	.forest-paragraphs-right {
		margin: 25px 20px;
		order: 2;
	}
	.arrow-down {
		left: 42%;
	}
	.intro-subtitle {
		font-size: 18px;
	}
	.support-img-1,
	.support-img-2,
	.support-img-3 {
		width: 210px;
		height: 200px;
	}
}

@media (max-width: 768px) {
	.intro-title {
		font-size: 46px;
		line-height: 1.2;
	}
	.damage-content {
		flex-direction: column;
	}
	.headline {
		flex-direction: column;
		align-items: center;
	}
	.headline-img {
		max-width: 60%;
		padding: 0px 0px 30px 0px;
		margin: 0px auto;
	}
	.number-important {
		font-size: 85px;
	}
	.headline-title {
		display: flex;
		font-size: 26px;
		margin: 0px auto;
	}
	.headline-subtitle {
		padding: 50px 20px 0px 20px;
	}
	.damage-subtitle {
		font-size: 25px;
	}
	.support {
    display: flex;
    flex-direction: column;
}
	.support-card {
		display: flex;
		align-items: center;
	}
	.support-img-1,
	.support-img-2,
	.support-img-3 {
		width: 240px;
		height: 240px;
		margin-right: 0px;
		margin-bottom: 20px;
	}
	.support-header {
		text-align: center;
	}
	.support-header {
		margin-bottom: 50px;
	}
}

@media (max-width: 426px) {
	.intro-title {
		font-size: 43px;
		line-height: 1.2;
	}
	.damage-info {
		margin-top: 0px;
	}
	.forest-img-left {
		width: 100%;
		max-height: 440px;
		order: 3;
	}
	.headline-img {
		max-width: 100%;
		padding: 0px 0px 30px 0px;
		margin: 0px auto;
	}
	.headline-subtitle {
		padding-top: 50px;
		padding: 50px 20px 0px 20px;
		max-width: 100%;
	}
	.damage-wrapper {
		padding: 50px;
	}
	.support-img-1,
	.support-img-2,
	.support-img-3 {
		width: 190px;
		height: 190px;
		margin-right: 0px;
		margin-bottom: 20px;
	}
}

@media (max-width: 375px) {
	.intro-title {
		font-size: 37px;
		line-height: 1.2;
	}
	.damage-wrapper {
		padding: 32px;
	}
	.feedback-title {
		font-size: 28px;
		line-height: 28px;
	}
	.intro-subtitle {
		font-size: 16px;
	}
	.support-title {
		font-size: 25px;
	}
	.support-header {
		font-size: 28px;
	}
}